In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
filepath = "../WeatherPy/Output/citiesweatherdata.csv"

city_data = pd.read_csv(filepath)
city_data.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hamilton,39.18,-84.53,71.6,88,90,4.70,US,1597756678
1,faya,18.39,42.45,87.8,15,40,6.93,SA,1597756678
2,atuona,-9.80,-139.03,78.4,78,5,21.12,PF,1597756678
3,vaini,-21.20,-175.20,71.6,100,90,10.29,TO,1597756679
4,griffin,33.25,-84.26,73.4,94,1,5.82,US,1597756679

In [10]:
##prepare heatmap fields
locations = city_data[['Lat', 'Long']].astype(float)
humidity = city_data['Humidity'].astype(float)
highest_humidity = city_data["Humidity"].max().astype(float)

In [11]:
#Create the heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=highest_humidity, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
##Narrow down the data
ideal_cities = city_data.loc[(city_data['Max Temp'] < 90) & 
                             (city_data['Max Temp'] > 70) & 
                             (city_data["Wind Speed"] < 7) & 
                             (city_data['Cloudiness']<10)]

print(f"Number of ideal cities: {len(ideal_cities)}")
ideal_cities

Number of ideal cities: 33

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,griffin,33.25,-84.26,73.40,94,1,5.82,US,1597756679
32,juye,35.39,116.09,80.80,87,0,6.13,CN,1597756687
42,saint george,37.10,-113.58,77.00,15,1,3.36,US,1597756396
74,sao joao da barra,-21.64,-41.05,75.20,83,6,4.45,BR,1597756696
75,caravelas,-17.71,-39.25,79.50,62,0,6.91,BR,1597756497
116,lagunas,-5.23,-75.68,79.47,73,7,3.42,PE,1597756706
120,rosarito,32.33,-117.03,82.00,88,1,5.75,MX,1597756707
124,guerrero negro,27.98,-114.06,71.78,78,1,2.82,MX,1597756707
141,ponta do sol,32.67,-17.10,75.99,64,0,4.97,PT,1597756711
192,cozumel,20.51,-86.95,75.20,100,5,4.32,MX,1597756724
253,lahat,-3.80,103.53,76.24,75,8,2.89,ID,1597756690
266,tura,25.52,90.22,77.74,91,1,5.82,IN,1597756738
268,oildale,35.42,-119.02,82.40,48,1,5.82,US,1597756738
281,marfino,55.70,37.38,72.00,45,2,6.71,RU,1597756741
310,laguna,38.42,-121.42,77.00,69,1,3.36,US,1597756748
348,midland,32.00,-102.08,71.60,60,1,3.36,US,1597756757
353,carlsbad,33.16,-117.35,73.00,94,1,2.93,US,1597756758
363,aksehir,38.36,31.42,85.21,19,0,5.53,TR,1597756760
373,moskovskiy,55.60,37.35,72.00,45,6,6.71,RU,1597756762
394,fulton,33.77,-84.45,77.00,78,1,6.11,US,1597756767
412,camarillo,34.22,-119.04,75.00,77,1,4.70,US,1597756772
425,ojinaga,29.57,-104.42,77.00,44,1,5.82,MX,1597756775
437,gigant,46.51,41.34,89.26,24,3,4.81,RU,1597756778
438,katherine,-14.47,132.27,80.60,39,0,6.93,AU,1597756778
475,kinston,35.26,-77.58,77.00,83,1,5.93,US,1597756786
480,kamenka,51.32,42.77,81.00,40,7,4.00,RU,1597756787
490,rampur hat,24.17,87.78,88.07,70,5,6.51,IN,1597756789
497,kayasula,44.33,45.00,86.70,20,0,3.62,RU,1597756791
502,tuscaloosa,33.21,-87.57,73.40,78,1,3.36,US,1597756792
512,jiaozuo,35.24,113.23,79.56,65,6,4.54,CN,1597756794
521,kembe,4.62,21.89,85.53,67,6,4.99,CF,1597756796
550,gonaives,19.45,-72.68,84.40,66,7,1.39,HT,1597756802
555,khasan,42.43,130.64,74.79,84,5,1.48,RU,1597756804

In [19]:
##Get nearby hotels
lats = ideal_cities['Lat'].tolist()
longs = ideal_cities['Long'].tolist()
best_cities = zip(lats,longs)
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_name = []

#Iterate through cities list and call the api to get hotel info
for location in best_cities:
    print()
    params = {
        'location': str(location[0]) + ',' + str(location[1]),
        'radius': 5000,
        'type': 'lodging',
        'keyword': 'hotel',
        'key': g_key
    }
    response = requests.get(base_url, params = params).json()
    try:
        hotel_name.append(response['results'][0]['name'])
    except:
        hotel_name.append('')
   
    

ideal_cities["Hotel"] = hotel_name
ideal_cities

/Users/tylerpitzer/opt/anaconda3/envs/pythondata2/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
4,griffin,33.25,-84.26,73.40,94,1,5.82,US,1597756679,Baymont by Wyndham Griffin
32,juye,35.39,116.09,80.80,87,0,6.13,CN,1597756687,Amun Morandi Hotel
42,saint george,37.10,-113.58,77.00,15,1,3.36,US,1597756396,Hilton Garden Inn St. George
74,sao joao da barra,-21.64,-41.05,75.20,83,6,4.45,BR,1597756696,OYO Pousada Mediterrâneo
75,caravelas,-17.71,-39.25,79.50,62,0,6.91,BR,1597756497,Mar Doce de Abrolhos
116,lagunas,-5.23,-75.68,79.47,73,7,3.42,PE,1597756706,Hospedaje Eco
120,rosarito,32.33,-117.03,82.00,88,1,5.75,MX,1597756707,Castillos del Mar
124,guerrero negro,27.98,-114.06,71.78,78,1,2.82,MX,1597756707,Hotel Los Caracoles
141,ponta do sol,32.67,-17.10,75.99,64,0,4.97,PT,1597756711,Palace of Zinos
192,cozumel,20.51,-86.95,75.20,100,5,4.32,MX,1597756724,Hotel Cozumel & Resort
253,lahat,-3.80,103.53,76.24,75,8,2.89,ID,1597756690,Hotel Grand Zuri
266,tura,25.52,90.22,77.74,91,1,5.82,IN,1597756738,Hotel Polo Orchid
268,oildale,35.42,-119.02,82.40,48,1,5.82,US,1597756738,Hilton Garden Inn Bakersfield
281,marfino,55.70,37.38,72.00,45,2,6.71,RU,1597756741,Pamir - Tyan-Shan Hotel
310,laguna,38.42,-121.42,77.00,69,1,3.36,US,1597756748,Hilton Garden Inn Sacramento Elk Grove
348,midland,32.00,-102.08,71.60,60,1,3.36,US,1597756757,Holiday Inn Express & Suites Midland South I-20
353,carlsbad,33.16,-117.35,73.00,94,1,2.93,US,1597756758,Carlsbad Inn Beach Resort
363,aksehir,38.36,31.42,85.21,19,0,5.53,TR,1597756760,Garp Hotel
373,moskovskiy,55.60,37.35,72.00,45,6,6.71,RU,1597756762,DoubleTree by Hilton Moscow - Vnukovo Airport
394,fulton,33.77,-84.45,77.00,78,1,6.11,US,1597756767,Omni Atlanta Hotel at CNN Center
412,camarillo,34.22,-119.04,75.00,77,1,4.70,US,1597756772,Hampton Inn & Suites Camarillo
425,ojinaga,29.57,-104.42,77.00,44,1,5.82,MX,1597756775,Riata Inn
437,gigant,46.51,41.34,89.26,24,3,4.81,RU,1597756778,
438,katherine,-14.47,132.27,80.60,39,0,6.93,AU,1597756778,Beagle Motor Inn
475,kinston,35.26,-77.58,77.00,83,1,5.93,US,1597756786,Hampton Inn Kinston
480,kamenka,51.32,42.77,81.00,40,7,4.00,RU,1597756787,
490,rampur hat,24.17,87.78,88.07,70,5,6.51,IN,1597756789,Capital O 17009 Mehak-e-punjab
497,kayasula,44.33,45.00,86.70,20,0,3.62,RU,1597756791,
502,tuscaloosa,33.21,-87.57,73.40,78,1,3.36,US,1597756792,Hotel Capstone
512,jiaozuo,35.24,113.23,79.56,65,6,4.54,CN,1597756794,Days Hotel and Suites Jiaozuo
521,kembe,4.62,21.89,85.53,67,6,4.99,CF,1597756796,
550,gonaives,19.45,-72.68,84.40,66,7,1.39,HT,1597756802,O-Divin
555,khasan,42.43,130.64,74.79,84,5,1.48,RU,1597756804,

In [20]:
len(ideal_cities)

33

In [21]:
ideal_cities["Hotel"].replace('', np.nan, inplace=True)
ideal_cities_clean = ideal_cities.dropna()
len(ideal_cities_clean)

/Users/tylerpitzer/opt/anaconda3/envs/pythondata2/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

28

In [22]:
places = ideal_cities_clean[['Lat', 'Long']].astype(float)
len(places)

28

In [23]:
##Create a heat map of the hotel data
hotel_list = []
for i, row in ideal_cities_clean.iterrows():
    hotel_list.append(f"{row['Hotel']} in {row['City']}, {row['Country']}") 

hotel_layer = gmaps.symbol_layer(places, fill_color='rgba(0,150,0,0.4)', stroke_color='rgba(0,0,150,0.4)', scale=5, info_box_content=hotel_list)

fig=gmaps.figure()
fig.add_layer(hotel_layer)  
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
##Create combined map
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))