In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [5]:
filepath = "../WeatherPy/Output/citiesweatherdata.csv"

city_data = pd.read_csv(filepath)
city_data.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,iqaluit,63.75,-68.51,55.40,43,20,20.80,CA,1597255670
1,gallup,35.53,-108.74,82.99,21,1,5.82,US,1597255670
2,alice springs,-23.70,133.88,53.60,58,1,4.70,AU,1597255487
3,hermanus,-34.42,19.23,60.01,75,92,14.00,ZA,1597255670
4,klaksvik,62.23,-6.59,53.60,93,71,16.11,FO,1597255566

In [55]:
##prepare heatmap fields
locations = city_data[['Lat', 'Long']].astype(float)
humidity = city_data['Humidity'].astype(float)

locations

       Lat    Long
0    63.75  -68.51
1    35.53 -108.74
2   -23.70  133.88
3   -34.42   19.23
4    62.23   -6.59
..     ...     ...
544 -22.67  167.48
545 -35.17  173.17
546  38.49   43.38
547  51.16   54.99
548  -9.07  -44.36

[549 rows x 2 columns]

In [56]:
#Create the heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
##Narrow down the data
ideal_cities = city_data.loc[(city_data['Max Temp'] < 90) & 
                             (city_data['Max Temp'] > 70) & 
                             (city_data["Wind Speed"] < 10) & 
                             (city_data['Cloudiness']<10)]

len(ideal_cities)
ideal_cities

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,gallup,35.53,-108.74,82.99,21,1,5.82,US,1597255670
35,jalu,29.03,21.55,87.22,21,0,5.28,LY,1597256120
42,jamestown,42.10,-79.24,79.00,49,1,5.82,US,1597255904
45,pacific grove,36.62,-121.92,73.00,60,1,5.82,US,1597256123
62,gat,31.61,34.76,82.99,85,1,3.00,IL,1597255922
114,ozark,37.02,-93.21,82.99,72,1,2.39,US,1597256076
119,waingapu,-9.66,120.26,74.89,82,0,4.61,ID,1597256142
136,leamington,42.05,-82.61,82.40,39,1,4.70,CA,1597256145
144,laguna,38.42,-121.42,78.01,53,1,5.82,US,1597256147
164,ponta do sol,32.67,-17.10,73.00,66,3,2.21,PT,1597256152
190,zhanaozen,43.30,52.80,76.14,27,0,4.43,KZ,1597256157
193,makhachkala,42.98,47.50,73.00,73,8,6.71,RU,1597256071
211,cayenne,4.93,-52.33,84.20,70,0,9.17,GF,1597256161
221,kununurra,-15.77,128.73,71.60,90,2,3.04,AU,1597256164
255,marsaxlokk,35.84,14.54,82.99,65,0,6.93,MT,1597256171
283,balkanabat,39.51,54.37,84.49,49,0,7.11,TM,1597256176
288,la palma,33.85,-118.05,86.00,39,1,5.28,US,1597256080
308,shelburne,44.08,-80.20,84.99,37,1,4.70,CA,1597256104
320,piacabucu,-10.41,-36.43,78.03,71,1,9.64,BR,1597256184
330,urbana,40.11,-88.21,82.99,61,1,6.93,US,1597256086
331,ukiah,39.15,-123.21,79.00,60,1,3.53,US,1597256186
373,artyom,40.47,50.33,75.20,60,0,9.17,AZ,1597256194
402,griffith,41.53,-87.42,82.99,51,1,6.93,US,1597256200
416,ishigaki,24.34,124.16,84.20,77,3,6.33,JP,1597256203
420,concepcion del oro,24.63,-101.42,72.91,39,0,6.69,MX,1597256203
451,roma,43.21,-75.46,81.00,54,1,6.93,US,1597255938
453,parry sound,45.35,-80.03,75.99,67,0,3.00,CA,1597256209
465,mahajanga,-15.72,46.32,71.58,64,0,2.53,MG,1597256211
466,sao domingos,-13.40,-46.32,89.53,22,0,6.76,BR,1597256140
467,kahta,37.79,38.62,84.20,25,0,6.93,TR,1597256212
473,zurrieq,35.83,14.47,82.99,65,0,6.93,MT,1597256213
476,murgab,37.50,61.97,84.20,35,0,6.93,TM,1597256214
512,pozoblanco,38.38,-4.85,86.00,40,4,9.17,ES,1597256220
520,hamilton,39.18,-84.53,86.00,66,1,3.36,US,1597256222
526,yinchuan,38.47,106.27,73.54,48,0,8.39,CN,1597256223

In [102]:
##Get nearby hotels
lats = ideal_cities['Lat'].tolist()
longs = ideal_cities['Long'].tolist()
locations = zip(lats,longs)
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_name = []
# location = "39.51, 54.37"
# params = {
#     'location': location,
#     'radius': 5000,
#     'type': 'lodging',
#     'keyword': 'hotel',
#     'key': g_key
# }
    
# response=requests.get(base_url, params=params).json()

for location in locations:
    print()
    params = {
        'location': str(location[0]) + ',' + str(location[1]),
        'radius': 5000,
        'type': 'lodging',
        'keyword': 'hotel',
        'key': g_key
    }
    response = requests.get(base_url, params = params).json()
    try:
        hotel_name.append(response['results'][0]['name'])
    except:
        hotel_name.append('')
   
    

ideal_cities["Hotel"] = hotel_name
ideal_cities

/Users/tylerpitzer/opt/anaconda3/envs/pythondata2/lib/python3.6/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
1,gallup,35.53,-108.74,82.99,21,1,5.82,US,1597255670,SpringHill Suites by Marriott Gallup
35,jalu,29.03,21.55,87.22,21,0,5.28,LY,1597256120,Jalu Hotel
42,jamestown,42.10,-79.24,79.00,49,1,5.82,US,1597255904,Chautauqua Harbor Hotel
45,pacific grove,36.62,-121.92,73.00,60,1,5.82,US,1597256123,Hyatt Regency Monterey Hotel And Spa On Del Mo...
62,gat,31.61,34.76,82.99,85,1,3.00,IL,1597255922,Desert Gat
114,ozark,37.02,-93.21,82.99,72,1,2.39,US,1597256076,Quality Inn
119,waingapu,-9.66,120.26,74.89,82,0,4.61,ID,1597256142,Padadita Beach Hotel
136,leamington,42.05,-82.61,82.40,39,1,4.70,CA,1597256145,Seacliffe Inn (The)
144,laguna,38.42,-121.42,78.01,53,1,5.82,US,1597256147,Hilton Garden Inn Sacramento Elk Grove
164,ponta do sol,32.67,-17.10,73.00,66,3,2.21,PT,1597256152,Palace of Zinos
190,zhanaozen,43.30,52.80,76.14,27,0,4.43,KZ,1597256157,Hotel BasTau
193,makhachkala,42.98,47.50,73.00,73,8,6.71,RU,1597256071,Central City Hotel Makhachkala
211,cayenne,4.93,-52.33,84.20,70,0,9.17,GF,1597256161,Royal Amazonia
221,kununurra,-15.77,128.73,71.60,90,2,3.04,AU,1597256164,Kimberleyland Waterfront Holiday Park | Kununu...
255,marsaxlokk,35.84,14.54,82.99,65,0,6.93,MT,1597256171,CugÃ³ Gran Macina Grand Harbour
283,balkanabat,39.51,54.37,84.49,49,0,7.11,TM,1597256176,Nebitchi Hotel
288,la palma,33.85,-118.05,86.00,39,1,5.28,US,1597256080,Sheraton Cerritos Hotel
308,shelburne,44.08,-80.20,84.99,37,1,4.70,CA,1597256104,Shelburne Motel
320,piacabucu,-10.41,-36.43,78.03,71,1,9.64,BR,1597256184,Pousada Raizes
330,urbana,40.11,-88.21,82.99,61,1,6.93,US,1597256086,Hilton Garden Inn Champaign/ Urbana
331,ukiah,39.15,-123.21,79.00,60,1,3.53,US,1597256186,Hampton Inn Ukiah
373,artyom,40.47,50.33,75.20,60,0,9.17,AZ,1597256194,F marine resort
402,griffith,41.53,-87.42,82.99,51,1,6.93,US,1597256200,Holiday Inn Express & Suites Hammond
416,ishigaki,24.34,124.16,84.20,77,3,6.33,JP,1597256203,Fusaki Beach Resort Hotel & Villas
420,concepcion del oro,24.63,-101.42,72.91,39,0,6.69,MX,1597256203,Hotel Las Flores
451,roma,43.21,-75.46,81.00,54,1,6.93,US,1597255938,Wingate By Wyndham Rome
453,parry sound,45.35,-80.03,75.99,67,0,3.00,CA,1597256209,Comfort Inn
465,mahajanga,-15.72,46.32,71.58,64,0,2.53,MG,1597256211,Lodge des Terres Blanches
466,sao domingos,-13.40,-46.32,89.53,22,0,6.76,BR,1597256140,Hotel e Restaurante Uirapuru (MÃ¡rcio uirapuru ...
467,kahta,37.79,38.62,84.20,25,0,6.93,TR,1597256212,Kommagene Hotel
473,zurrieq,35.83,14.47,82.99,65,0,6.93,MT,1597256213,Lulu Boutique Hotel
476,murgab,37.50,61.97,84.20,35,0,6.93,TM,1597256214,
512,pozoblanco,38.38,-4.85,86.00,40,4,9.17,ES,1597256220,Hotel Nomada
520,hamilton,39.18,-84.53,86.00,66,1,3.36,US,1597256222,
526,yinchuan,38.47,106.27,73.54,48,0,8.39,CN,1597256223,Kempinski Hotel Yinchuan

In [106]:
ideal_cities["Hotel"].replace('', np.nan, inplace=True)
ideal_cities.dropna(inplace=True)
len(ideal_cities)

/Users/tylerpitzer/opt/anaconda3/envs/pythondata2/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/Users/tylerpitzer/opt/anaconda3/envs/pythondata2/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

33

In [15]:
hotel_data = response.json()
hotel_data

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}